# Read **PARQUET** File

In [0]:
data =[("James ","","Smith","36636","M",3000),
              ("Michael ","Rose","","40288","M",4000),
              ("Robert ","","Williams","42114","M",4000),
              ("Maria ","Anne","Jones","39192","F",4000),
              ("Jen","Mary","Brown","","F",-1)]
columns=["firstname","middlename","lastname","dob","gender","salary"]
df=spark.createDataFrame(data,columns)

In [0]:
df.show(truncate=False)

+---------+----------+--------+-----+------+------+
|firstname|middlename|lastname|dob  |gender|salary|
+---------+----------+--------+-----+------+------+
|James    |          |Smith   |36636|M     |3000  |
|Michael  |Rose      |        |40288|M     |4000  |
|Robert   |          |Williams|42114|M     |4000  |
|Maria    |Anne      |Jones   |39192|F     |4000  |
|Jen      |Mary      |Brown   |     |F     |-1    |
+---------+----------+--------+-----+------+------+

In [0]:
df.write.parquet('/FileStore/tables/output/parquet/dummy.parquet')

In [0]:
dbutils.fs.ls('/FileStore/tables/output/parquet/')

Out[10]: [FileInfo(path='dbfs:/FileStore/tables/output/parquet/dummy.parquet/', name='dummy.parquet/', size=0, modificationTime=0)]

In [0]:
df = spark.read.parquet('/FileStore/tables/output/parquet/dummy.parquet')

In [0]:
df.show()

+---------+----------+--------+-----+------+------+
|firstname|middlename|lastname|  dob|gender|salary|
+---------+----------+--------+-----+------+------+
|  Robert |          |Williams|42114|     M|  4000|
|   Maria |      Anne|   Jones|39192|     F|  4000|
| Michael |      Rose|        |40288|     M|  4000|
|   James |          |   Smith|36636|     M|  3000|
|      Jen|      Mary|   Brown|     |     F|    -1|
+---------+----------+--------+-----+------+------+

In [0]:
df.write.mode("append").parquet('/FileStore/tables/output/parquet/dummy.parquet')

In [0]:
df = spark.read.parquet('/FileStore/tables/output/parquet/dummy.parquet')

In [0]:
df_app = df.show(truncate=False)

+---------+----------+--------+-----+------+------+
|firstname|middlename|lastname|dob  |gender|salary|
+---------+----------+--------+-----+------+------+
|Robert   |          |Williams|42114|M     |4000  |
|Robert   |          |Williams|42114|M     |4000  |
|Robert   |          |Williams|42114|M     |4000  |
|Maria    |Anne      |Jones   |39192|F     |4000  |
|Maria    |Anne      |Jones   |39192|F     |4000  |
|Maria    |Anne      |Jones   |39192|F     |4000  |
|Michael  |Rose      |        |40288|M     |4000  |
|Michael  |Rose      |        |40288|M     |4000  |
|Michael  |Rose      |        |40288|M     |4000  |
|James    |          |Smith   |36636|M     |3000  |
|James    |          |Smith   |36636|M     |3000  |
|James    |          |Smith   |36636|M     |3000  |
|Jen      |Mary      |Brown   |     |F     |-1    |
|Jen      |Mary      |Brown   |     |F     |-1    |
|Jen      |Mary      |Brown   |     |F     |-1    |
|Jen      |Mary      |Brown   |     |F     |-1    |
|Maria    |Anne      |Jones   |39192|F     |4000  |
|James    |          |Smith   |36636|M     |3000  |
|Robert   |          |Williams|42114|M     |4000  |
|Michael  |Rose      |        |40288|M     |4000  |
+---------+----------+--------+-----+------+------+

In [0]:
spark.sql('CREATE TEMPORARY VIEW PERSON USING parquet OPTIONS (path \"/FileStore/tables/output/parquet/dummy.parquet")')
spark.sql('SELECT * FROM PERSON').show()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-3174752072356334>:1
----> 1 #df_app.createOrReplaceTempView("ParquetTable")
      2 parkSQL = spark.sql("select * from ParquetTable where salary >= 4000 ")
      3 parkSQL.show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/session.py:1387, in SparkSession.sql(self, sqlQuery, args, **kwargs)
   1385 try:
   1386     litArgs = {k: _to_java_column(lit(v)) for k, v in (args or {}).items()}
-> 1387     return DataFrame(self._jsparkSession.sql(sqlQuery, litArgs), self)
   1388 finally:
   1389     if len(kwargs) > 0:

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [TEMP_TABLE_OR_VIEW_ALREADY_EXISTS] Cannot create the temporary view `PERSON` because it already exists.
Choose a different name, drop or replace the existing view,  or add the IF NOT EXISTS clause to tolerate pre-existing views.

In [0]:
%sql
SELECT DISTINCT * FROM PERSON

firstname,middlename,lastname,dob,gender,salary
Robert,,Williams,42114,M,4000
Maria,Anne,Jones,39192,F,4000
Michael,Rose,,40288,M,4000
James,,Smith,36636,M,3000
Jen,Mary,Brown,,F,-1

In [0]:
dbutils.fs.ls('/FileStore/tables/output/parquet/')

Out[50]: [FileInfo(path='dbfs:/FileStore/tables/output/parquet/dummy.parquet/', name='dummy.parquet/', size=0, modificationTime=0)]

In [0]:
df.show()

+---------+----------+--------+-----+------+------+
|firstname|middlename|lastname|  dob|gender|salary|
+---------+----------+--------+-----+------+------+
|  Robert |          |Williams|42114|     M|  4000|
|  Robert |          |Williams|42114|     M|  4000|
|  Robert |          |Williams|42114|     M|  4000|
|   Maria |      Anne|   Jones|39192|     F|  4000|
|   Maria |      Anne|   Jones|39192|     F|  4000|
|   Maria |      Anne|   Jones|39192|     F|  4000|
| Michael |      Rose|        |40288|     M|  4000|
| Michael |      Rose|        |40288|     M|  4000|
| Michael |      Rose|        |40288|     M|  4000|
|   James |          |   Smith|36636|     M|  3000|
|   James |          |   Smith|36636|     M|  3000|
|   James |          |   Smith|36636|     M|  3000|
|      Jen|      Mary|   Brown|     |     F|    -1|
|      Jen|      Mary|   Brown|     |     F|    -1|
|      Jen|      Mary|   Brown|     |     F|    -1|
|      Jen|      Mary|   Brown|     |     F|    -1|
|   Maria |      Anne|   Jones|39192|     F|  4000|
|   James |          |   Smith|36636|     M|  3000|
|  Robert |          |Williams|42114|     M|  4000|
| Michael |      Rose|        |40288|     M|  4000|
+---------+----------+--------+-----+------+------+

In [0]:
df.write.partitionBy('gender','salary').mode('overwrite').parquet('/FileStore/tables/output/parquet/dummy.parquet')

In [0]:
dbutils.fs.ls('/FileStore/tables/output/parquet/dummy.parquet')

Out[53]: [FileInfo(path='dbfs:/FileStore/tables/output/parquet/dummy.parquet/_SUCCESS', name='_SUCCESS', size=0, modificationTime=1756041027000),
 FileInfo(path='dbfs:/FileStore/tables/output/parquet/dummy.parquet/_committed_1087315736948335903', name='_committed_1087315736948335903', size=519, modificationTime=1756039312000),
 FileInfo(path='dbfs:/FileStore/tables/output/parquet/dummy.parquet/_committed_2487912758901360991', name='_committed_2487912758901360991', size=519, modificationTime=1756039355000),
 FileInfo(path='dbfs:/FileStore/tables/output/parquet/dummy.parquet/_committed_385036967555043728', name='_committed_385036967555043728', size=612, modificationTime=1756038933000),
 FileInfo(path='dbfs:/FileStore/tables/output/parquet/dummy.parquet/_committed_4257467560565963337', name='_committed_4257467560565963337', size=519, modificationTime=1756039328000),
 FileInfo(path='dbfs:/FileStore/tables/output/parquet/dummy.parquet/_committed_7198564735653840463', name='_committed_7198564735653840463', size=2108, modificationTime=1756040498000),
 FileInfo(path='dbfs:/FileStore/tables/output/parquet/dummy.parquet/_started_1087315736948335903', name='_started_1087315736948335903', size=0, modificationTime=1756039310000),
 FileInfo(path='dbfs:/FileStore/tables/output/parquet/dummy.parquet/_started_2487912758901360991', name='_started_2487912758901360991', size=0, modificationTime=1756039353000),
 FileInfo(path='dbfs:/FileStore/tables/output/parquet/dummy.parquet/_started_385036967555043728', name='_started_385036967555043728', size=0, modificationTime=1756038929000),
 FileInfo(path='dbfs:/FileStore/tables/output/parquet/dummy.parquet/_started_4257467560565963337', name='_started_4257467560565963337', size=0, modificationTime=1756039326000),
 FileInfo(path='dbfs:/FileStore/tables/output/parquet/dummy.parquet/gender=F/', name='gender=F/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/output/parquet/dummy.parquet/gender=M/', name='gender=M/', size=0, modificationTime=0)]

In [0]:
df_par = spark.read.parquet('/FileStore/tables/output/parquet/dummy.parquet/gender=F')

In [0]:
df_par.show()

+---------+----------+--------+-----+------+
|firstname|middlename|lastname|  dob|salary|
+---------+----------+--------+-----+------+
|   Maria |      Anne|   Jones|39192|  4000|
|   Maria |      Anne|   Jones|39192|  4000|
|   Maria |      Anne|   Jones|39192|  4000|
|      Jen|      Mary|   Brown|     |    -1|
|      Jen|      Mary|   Brown|     |    -1|
|      Jen|      Mary|   Brown|     |    -1|
|      Jen|      Mary|   Brown|     |    -1|
|   Maria |      Anne|   Jones|39192|  4000|
+---------+----------+--------+-----+------+